APP_PORT=8080

REDIS_HOST=localhost
REDIS_PORT=6379

AUTH_SERVICE_URL=http://localhost:8081
TRAIN_SERVICE_URL=http://localhost:8082
FLIGHT_SERVICE_URL=http://localhost:8084
BUS_SERVICE_URL=http://localhost:8083
FRONTEND_URL=http://localhost:3000

JWT_SECRET=replace_with_shared_jwt_secret
