APP_PORT= eg: 8082

DB_URL= eg: postgres://postgres:password@localhost:5432/tripneo_train?sslmode=disable

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=your_jwt_secret_here

GRPC_PORT=50052
PAYMENT_SERVICE_GRPC= eg: payment-service:50051

KAFKA_BROKER=localhost:9092