APP_PORT=8081
REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=replace_with_jwt_secret
JWT_EXPIRY=30m
DB_URL=postgres://postgres:password@localhost:5432/tripneo_auth?sslmode=disable
RESEND_API_KEY=your_resend_api_key
