GRPC_PORT=50051
HTTP_PORT=8085
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
KAFKA_BROKERS=localhost:19092

#stripe listen --forward-to localhost:8085/webhooks/stripe