APP_PORT=8084

DB_URL=postgres://postgres:password@localhost:5432/tripneo_flight?sslmode=disable
REDIS_URL=localhost:6379

RUN_SEED_ON_BOOT=false
PAYMENT_SERVICE_GRPC_URL=localhost:50051
KAFKA_BROKERS=localhost:19092
AVIATIONSTACK_API_KEY=your_aviationstack_api_key

QR_PUBLIC_BASE_URL=http://localhost:8080/api/qr/generate
QR_SIGNING_SECRET=change_me_for_prod
